*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   /* добавим плавность переходов для всех элементов страницы*/
    }
    ul {
    list-style: none;
    }
    a {
    text-decoration: none;
    outline: none;
    }
    img {
    display: block;
    width: 100%;
    }
    h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display';
    font-weight: normal;
    letter-spacing: 1px;
    }
    body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    background: white;
    }
    /* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
    header:after, .container:after, .widget-posts-list li:after, #subscribe:after {
    content: "";
    display: table;
    clear: both;
    } 